:root {
  --window-size: calc(20vmin - 10px);
  --room-height: 80vh;
  --room-width: 95vw;
  background-color: #132626;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.room {
  height: var(--room-height);
  width: var(--room-width);
  margin: 0 auto;
  background-color: whitesmoke;
  border-bottom: 1px solid #d8ab4e;
  border-left: 1px solid #d8ab4e;
  border-right: 1px solid #d8ab4e;
}

.floor {
  background-color: #dfd8c8;
  width: calc(var(--room-width) - var(--window-size));
  height: calc(--room-height - var(--window-size));
  border-bottom: 5px solid slategrey;
  border-right: 5px solid slategrey;
}

.flex {
  display: flex;
}

.room-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-windows {
  display: flex;
  height: var(--window-size);
  width: var(--room-width);
  justify-content: space-between;
}

.vertical-windows {
  display: flex;
  flex-direction: column;
  height: calc(var(--room-height) - var(--window-size));
  width: var(--window-size);
  justify-content: space-between;
}

.settings {
  position: fixed;
  top: 0;
  left: 0;
  width: 90vmin;
  height: 100vh;
  border-left: 1px solid #d8ab4e;
  border-right: 1px solid #d8ab4e;
  background-color: whitesmoke;
}

.closed-settings {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #feda6a;
  border: solid 1px #d8ab4e;
  outline:none;
  cursor: pointer;
}

.close-settings {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.close-settings:hover {
  color: grey;
}

.window {
  width: var(--window-size);
  height: var(--window-size);
  border: solid 1px lightgrey;
  outline:none;
}

.open {
  background-color: #feda6a;
}

.closed {
  background-color: #393f4d;
}

.hidden {
  visibility: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
